$button-size: 4.8rem;

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* WORLD */
.world {
  position: relative;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  margin: 0 auto;
  overflow: hidden;
}

/* CONTROLS */
.button {
  display: block;
  width: $button-size;
  height: $button-size;
}

.play {
  background: url('play-button.svg');
}

.pause {
  background: url('pause-button.svg');
}

/* MEASURE */
.measure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.measure > div {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  width: $button-size;
  height: $button-size;
}

/* UTILITY */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/* SCREEN */
@media only screen and (min-width:40em) {
  html {
    font-size: 100%;
  }
}
