$button-size: 4.8rem;

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input[type=checkbox] {
  vertical-align: middle;
}

fieldset {
  margin-top: 1.6rem;
  padding: 0.8rem;
}

/* WORLD */
.world {
  position: relative;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
}

/* KEYBOARD */
$white-width: 4rem;
$black-width: (1.5 / 2) * $white-width;
$white: rgba(255, 255, 255, 1);
$black: rgba(5, 7, 9, 1);
$gray: rgba(85, 85, 85, 1);
$shadow: rgba(0, 0, 0, 0.3);

.keyboard {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 0;
  border: none;
  text-align: center;
}

.keyboard > button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* https://codepen.io/garypaul/pen/jgKqc */
.keyboard > .white,
.keyboard > .black {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.6rem;

  border: 1px solid $gray;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px $shadow;

  position: relative;

  background: $white;
  color: transparent;

  &:hover {
    color: $gray;
  }

  &:focus {
    color: $gray;
    outline-offset: -4px;
  }

  &:active {
    color: $gray;
    box-shadow: none;
  }
}

.keyboard > .white {
  z-index: 1;
  width: $white-width;
  padding: 14rem 0 3rem;
}

.keyboard > .black {
  z-index: 2;
  width: $black-width;
  padding: 9rem 0 1rem;

  font-size: 1.2rem;

  position: absolute;
  top: 0;
  margin-left: -($black-width / 2);

  background: $black;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
    outline-offset: 0;
  }

  &:active {
    color: $white;
  }
}

/* CONTROLS */
.beat-choice {
  font-size: 1.4rem;
}

/* STORY */
h1 {
  margin-top: 1.6rem;
  font-size: 3.2rem;
  text-align: right;
}

h2 {
  margin-top: 1.6rem;
  font-size: 2.4rem;
}

p {
  margin-top: 1.6rem;
  font-size: 1.2rem;
}

/* MEASURE */
.measure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.measure > div {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  width: $button-size;
  height: $button-size;
  text-transform: uppercase;
}

/* UTILITY */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/* COLOPHON */
.colophon {
  font-size: .9rem;
  line-height: .9rem;
  text-align: right;
  width: 100%;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.colophon > a:hover {
  cursor: auto;
  text-decoration: underline;
}

abbr[title="and"] {
  font-family: 'Adobe Caslon Pro', 'Baskerville', 'Goudy Old Style', 'Palatino',
  'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Times New Roman', 'Times', serif;
  font-style: italic;
  text-decoration: none;
  font-size: 110%;
  cursor: auto;
  /* Prevents `abbr` affecting the `line-height`. */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* SCREEN */
@media only screen and (min-width:40em) {
  html {
    font-size: 100%;
  }
}
